.home__main {
	background: url('../../../img/main_bg.png') 50% no-repeat;
	background-size: cover;
}

.home__toppanel {
	background: rgba(255, 255, 255, 0.644);
	display: flex;
	align-items: center;
	padding-top: 20px;
	
}

.filt{
	width: 20px;
	margin-right: 30px;

}

.filtering_btn {
	padding: 10px 60px;
	display: flex;
	align-items: center;
	background: #ffffff;
	border-top-right-radius: 100px ;
	border-bottom-right-radius: 100px ;
}
.restaurant_btn {
	padding: 10px 30px;
	background: #d1a379;
	margin-left: 270px;
	border-radius: 10px;
	cursor: pointer;
}

.bar_btn {
	padding: 10px 70px;
	background: #d1a379;
	margin-left: 70px;
	border-radius: 10px;
	cursor: pointer;
}

.bar_btn:hover, .restaurant_btn:hover{
	background: #ffc187;
}

.home_container {
	/* width: 90%; */
	margin: 0 auto;
	display: flex;
}

.home__button {
	background: #d1a379;
	padding: 25px 100px;
	color: #fff;
	font-size: 48px;
	border: none;
	box-shadow: 4px 8px 0px 0px rgba(122, 122, 122, 0.473);
}

.home__left {
	background: #dde0e4;
	width: 200px;
}
.home__filter {
	border-bottom: 1px solid #000;
	padding: 20px;
}
.filter__content {
	display: flex;
	flex-direction: column;
}

.type__wrapper {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	cursor: pointer;
}

.type__checkbox {
	border: 1px solid black;
	width: 15px;
	height: 15px;
	border-radius: 100px;
	margin-right: 20px;
}

.type__img {
	width: 70px;
	height: 70px;
}

.filter__clear {
	display: block;
	margin: 0 auto;
	background: #c1c1c2;
	border: none;
	border-radius: 7px;
	padding: 5px;
	cursor: pointer;
	margin-top: 5px;
}

.filter__clear:hover {
	background: #8f8f8f;
}

.filter__content--color {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	border: 1px solid rgb(80, 80, 80);
	border-radius: 10px;
	padding: 5px;
}

.color__box {
	width: 23px;
	height: 23px;
	margin-right: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	/* border: 2px solid rgba(0, 0, 0, 0); */
}

.home_right {
	display: flex;
	width: 90%;
	flex-wrap: wrap;
	margin-top: 20px;
}

.home__wrapper {
	position: relative;
	width: 250px !important;
	height: 350px;
	margin-left: 20px;
	margin-bottom: 15px;
}

.home__image {
	width: 250px;
	height: 350px;
}

.home__download {
	display: block;
	width: 70%;
	background: #38404a;
	border-radius: 10px;
	padding: 5px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	cursor: pointer;

	position: absolute;
	bottom: 20px;
	left: 10%;
}

.home__download:hover {
	background: #485c75;
}

.not {
	color: rgb(53, 53, 53);
	font-size: 48px;
	text-align: center;
	padding: 20px;
}
