.slider {
	width: 70%;
	margin: 0 auto;
	margin-top: 70px;
	padding: 10px 50px;
	background: #efefef;
}

.slick-slider {
	margin: 30px auto 50px;
	box-sizing: border-box;
	touch-action: pan-y;
}
.slick-list,
.slick-slider {
	position: relative;
	display: block;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
	transform: translateZ(0);
}
.slick-list {
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}

.slick-next {
	right: -30px;
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	display: block;
	padding: 0;
	transform: translateY(-50%);
	cursor: pointer;
	border: none;
	z-index: 1000;

	width: 0;
	height: 0;
	border-top: 30px solid transparent;
	border-left: 20px solid #7f7f7f;
	border-bottom: 30px solid transparent;
}

.slick-prev {
	left: -30px;
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	display: block;
	padding: 0;
	transform: translateY(-50%);
	cursor: pointer;
	border: none;
	z-index: 1000;

	border-top: 30px solid transparent;
	border-right: 20px solid #7f7f7f;
	border-bottom: 30px solid transparent;
}

.slider_wrapper {
	position: relative;
	width: 300px !important;
}

.slider__image {
	width: 300px;
	height: 350px;
}

/* .slider__image:hover {
	width: 300px;
	height: 350px;
} */

.slider__download {
	display: block;
	width: 70%;
	background: #38404a;
	padding: 5px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	cursor: pointer;

	position: absolute;
	bottom: 20px;
	left: 10%;
}

.slider__download:hover {
	background: #485c75;
}
